:root {
	--color-1: #36393e;
	--color-2: #101721;
}

*, *::before, *::after {
	box-sizing: border-box;	
}
html, body {
	width: 100%;
	height: 100%;
}

body {
	font-family: "Inter", sans-serif;
	font-optical-sizing: auto;
	font-style: normal;
	padding: 0;
	margin: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	background: radial-gradient(circle at 100% 100%, var(--color-2) 50%, var(--color-1)) no-repeat;
}

.label {
	position: relative;
	display: inline-block;
	border-radius: 12px;
	
	&::before {
		content: '';
		position: absolute;
		z-index: -2;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background: linear-gradient(to bottom right, #38404c 20%, transparent);
		border-radius: 12px;
	}
	
	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		top: 1px;
		left: 1px;
		width: calc(100% - 2px);
		height: calc(100% - 2px);
		background: #29303f;
		border-radius: 12px;
	}
}

.label-text {
	position: absolute;
	opacity: 0;
}

.input {
	padding: 1rem 1.5rem;
	font-size: 1.5rem;
	caret-color: transparent;
	border: none;
	background: transparent;
	color: #ded6d0;
	font-family: "Inter", sans-serif;
	
	&:focus {
		outline: none;
	}
	
	&:focus + .caret {
		visibility: visible;
	}
}

.caret {
	--border-width: 1px;
	position: absolute;
	left: calc(var(--caret-offset, calc(1rem + var(--border-width))) + 2px);
	bottom: calc(1rem + var(--border-width));
	width: 2px;
	border-radius: 1px;
	height: 1.75rem;
    background: #ded6d0;
	visibility: hidden;
	
	&::before {
		content: '';
		position: absolute;
		left: -28px;
		top: -200%;
		width: 200px;
		height: 500%;
		background-size: 100% 100%;
		background-position: 0% 0%;
		background-image: conic-gradient(from 47deg at 0% 50%, #FF5A0000 0%, #de9b8b 8%, #de9b8b 18%, #FF000000 26%);
		mask-image: radial-gradient(ellipse at 40% 50%, white, black 70%);
		mask-mode: luminance;
		clip-path: polygon(30px 0, 100% 0, 100% 100%, 30px 100%);
	}
}