@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: "Exo 2", sans-serif;
}

body {
	background: rgb(20, 20, 20);
}

.slideshow-container {
	height: 100vh;
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		z-index: 10;
		position: absolute;
		height: 100%;
		width: 100%;
		pointer-events: none;
		background: #000000;
		background: linear-gradient(
			90deg,
			rgba(0, 0, 0, 0.6) 0%,
			rgba(0, 0, 0, 0.2) 20px,
			rgba(0, 0, 0, 0) 50px,
			rgba(0, 0, 0, 0) calc(100% - 50px),
			rgba(0, 0, 0, 0.2) calc(100% - 20px),
			rgba(0, 0, 0, 0.6) 100%
		);
	}
}

.image-box {
	flex-shrink: 0;
	aspect-ratio: 16/9;
	width: 40%;
	border-radius: 10px;
	overflow: hidden;
	position: absolute;
	transition: left 3s ease, transform 3s ease;

	transform: translate(-50%, -50%);
	top: 50%;

	img {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	.image-desc {
		position: absolute;
		width: 100%;
		bottom: 0px;
		left: 0px;
		padding: 16px;
		transition: opacity 1s ease-out, padding 5s ease-out;
		opacity: 0;
		background: #000000;
		background: linear-gradient(
			0deg,
			rgba(10, 87, 85, 1) 0%,
			rgba(10, 87, 85, 0.4) 50%,
			rgba(255, 255, 255, 0) 100%
		);
		color: white;

		h3 {
			margin-bottom: 4px;
			margin-top: 64px;
		}

		p {
			font-style: italic;
		}
	}

	&.main {
		/*width: 80%;*/
	}

	&.main:hover .image-desc {
		padding: 32px;
		opacity: 1;
	}
}

.background-img {
	width: 90%;
	aspect-ratio: 16/9;
	transform: translate(-50%, -50%);
	position: absolute;
	top: 50%;
	left: 50%;
	object-fit: cover;
	filter: blur(200px);
	opacity: 0;
	transition: 3s ease;

	&.main {
		opacity: 1;
	}
}

.slideshow-controls {
	position: absolute;
	transform: translate(-50%, -50%);
	bottom: 20px;
	left: 50%;
	display: flex;
	gap: 10px;

	button {
		background: grey;
		border: none;
		height: 10px;
		width: 10px;
		border-radius: 100px;
		cursor: pointer;
		transition: background 1s ease;

		&:hover {
			background: white;
		}

		&.main {
			background: white;
		}
	}
}

.control-arrow {
	background: rgb(40, 40, 40, 0.3);
	border: 2px solid rgb(10, 10, 10, 0.5);
	color: white;
	font-weight: bold;
	height: 50px;
	width: 50px;
	border-radius: 100px;
	cursor: pointer;
	transition: background 500ms ease;
	backdrop-filter: blur(30px);

	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	&:hover {
		background: rgb(10, 10, 10, 0.5);
	}

	&.arrow-left {
		left: 20px;
	}

	&.arrow-right {
		right: 20px;
	}
}
